<section class="footer">
    <div class="box-container">
        <div class="box">
            <h3>Our Branches</h3>
            <a href="#">Saudi Arabia</a>
            <a href="#">Qatar</a>
            <a href="#">Bahrain</a>
            <a href="#">Dubai</a>
            <a href="#">Oman</a>
        </div>
        <div class="box">
            <h3>Quick Links</h3>
            <a href="#">Home</a>
            <a href="#">Drinks</a>
            <a href="#">Breads</a>
            <a href="#">Sweets</a>
            <a href="#">Fast Food</a>
            <a href="#">Add Order</a>
        </div>
        <div class="box">
            <h3>Follow Us</h3>
            <a href="#">+966 5000000</a>
            <a href="#">065443</a>
            <a href="#">Support@gmail.com</a>
            <a href="#">Admin@gmail.com</a>
            <a href="#">Al-Riyadh, Saudi Arabia - 400104</a>
        </div>
        <div class="box">
            <h3>Contact Information</h3>
            <a href="#">Facebook</a>
            <a href="#">Twitter</a>
            <a href="#">Instagram</a>
            <a href="#">LinkedIn</a>
        </div>
    </div>
    <div class="credit"> All rights reserved by <span>Restaurant Managment</span> </div>
</section>
